body{
    /* margin: 20px; */
    margin: 0;
    background-color: #d1dedd;
}

ul,li{
    list-style-type: none;
    padding: 0;
}

h1,h2,h3,h4{
    color: #767f7e;
}

p{
    color: #828b8a;
}

/* .app{
    width: 100vw;
    overflow: hidden;
} */

