.gallery__body{
    background-color: #161616;
    color: #e0e0e0;
    /* width: 100%;
    height: 100vh; */

}
::-webkit-scrollbar{
    display: none;
}

.gallery__header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 30px;
}

.gallery__logo, .gallery__menu{
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 5px;
}

.gallery__container{
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 150vw;
    height: 150vh;
    /* transform: translate(-25% ,-25%); */
    transform: translate(-10% ,-15%);
    /* transform: translate(-5% ,-15%); */
}

.gallery__content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 50px 0; 
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__image{
    width: 500px;
    height: 500px;
    /* width: 400px;
    height: 400px; */
    margin: 50px 100px;
    background-color: grey;
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery__image1{
    background-image: url(../assets/image1.jpg);
    width: 400px;
    height: 800px;
}
.gallery__image2{
    background-image: url(../assets/image2.jpg); 
    margin: 0;
}
.gallery__image3{
    background-image: url(../assets/image3.jpg);
    width: 400px;
    height: 600px;
    margin: 0;

}
.gallery__image4{
    background-image: url(../assets/image4.jpg);
}
.gallery__image5{
    background-image: url(../assets/image5.jpg);
}
.gallery__image6{
    background-image: url(../assets/image6.jpg);
    width: 600px;
    height: 700px;
    margin: 0;
}
.gallery__image7{
    background-image: url(../assets/image7.jpg);
    width: 300px;
    height: 300px;
    margin: 0;
}
.gallery__image8{
    background-image: url(../assets/image8.jpg);
    margin: 0;
}
.gallery__image9{
    background-image: url(../assets/image9.jpg);
    height: 800px;
}

.gallery__image10{
    background-image: url(../assets/image10.jpg);
    width: 200px;
    height: 200px;
}

.gallery__image11{
    background-image: url(../assets/image11.jpg);
    width: 300px;
    height: 600px;
    margin: 0;
}

.gallery__image12{
    background-image: url(../assets/image12.jpg);
    margin: 0;
}
