.slide{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

}

.slide__body{
    border: 2px solid red;
    width: fit-content;
    display: flex;
    position: relative;
    gap: 5rem;
    
}

.slide h1{
    font-size: 10rem;
    animation: marquee 5s linear infinite;
    animation-play-state: running;
    /* transform: translate3d(calc(-25% + 10vw), 0, 0); */
    transform: translate3d(calc(-25%), 0, 0);

}

@keyframes marquee {
    0% {
      transform: translate3d(calc(-25%), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(50%), 0, 0);
    }
  }