main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: orange;
}


.drag__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    height: 100%;


}

.drag__content{
    position: relative;
    width: 50%;
    height: 50%;
    border: 2px solid purple;

}

.drag__item{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.drag__item:nth-child(1){
    background-image: url('../assets/image1.jpg');

}

.drag__item:nth-child(2){
    background-image: url('../assets/image2.jpg');

}
.drag__item:nth-child(3){
    background-image: url('../assets/image3.jpg');

}

.drag__item:nth-child(4){
    background-image: url('../assets/image4.jpg');

}