/* h1 {
    margin: 500px 0 50px;
  }
  
  .scroll {
    padding: 0 0 200vh;
  } */

section{
    /* width: 100vw; */
    height: 100vh;
    font-size: 12rem;
    /* scroll-snap-type: mandatory; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.cherry{
    background: green;
    /* scroll-snap-align: start; */

}

.banana{
    background: green

}

.mango{
    background: yellow


}

.apple{
    background: red


}